header {
    background-color: #F55A5A;
    font-family: 'Inter',sans-serif;
    display: flex;
    align-items: center;    
    height: 60px;
    justify-content: center;
}

.nav-logo {
    width: 30px;
}

.nav-text {
    color: white;
    padding: 0 10px 0 10px;
    font-weight: 300;
}